name: oxid module tests

on: [push]

jobs:
  pretest:
    runs-on: ubuntu-latest
    container:
      image: oxidprojects/oxid-test:v2_6.1_php7.2
      volumes:
        - /var/lib/mysql/mysql.sock:/var/lib/mysql/mysql.sock
    env:
      MODULE_NAME: moduleinternals
      DB_HOST: localhost
    steps:
    - run: ls -al /etc
    - run: chkconfig --list.
    - run: service mysql status    
    - run: service mysql start
    - run: mysqladmin ping

    - uses: actions/checkout@v1
    
    - name: Validate composer.json
      run: composer validate
    
    - name: phpsyntax
      run: find . -not -path "./vendor/*" -name "*.php" -print0 | xargs -0 -n1 -P8 php -l
      
    - name: phpcs
      run: php /var/www/oxid/phpcs.phar --standard=PSR12 --extensions=php --ignore=vendor .
    
    - name: setup oxid
      run: bash /var/www/oxid/setup.sh

    - name: phpstan
      continue-on-error: true
      run: |
        MD=$(pwd)
        cd /var/www/oxid/
        vendor/bin/phpstan analys --configuration phpstan.neon $MD

  test:
    needs: pretest
    strategy:
      matrix:
        tag: [v2_6.1_php7.1, v2_6.2-rc_php7.1, v2_dev-master_php7.2]   
    services:
      mysql:
        image: mysql:5.7
        env:
          MYSQL_ROOT_PASSWORD: root
          MYSQL_DATABASE: oxid
        ports:
          - 3306
        options: --health-cmd "mysqladmin ping" --health-interval 10s --health-timeout 5s --health-retries 10

    runs-on: ubuntu-latest
    container: oxidprojects/oxid-test:${{matrix.tag}}
    env:
      MODULE_NAME: moduleinternals
    steps:
    - uses: actions/checkout@v1

    - name: setup oxid
      run: bash /var/www/oxid/setup.sh
 
    - name: debug
      run: cat /var/www/oxid/test_config.yml
 
    - name: run tests
      run: |
        cd /var/www/oxid/
        vendor/bin/runtests
        ls -al source/log

  
