name: oxid module tests

on: [push]

jobs:
  stand_alone_checks:
    runs-on: ubuntu-latest
    steps:
    - uses: actions/checkout@v1   
    - name: Validate composer.json
      run: composer validate   
    - name: validate php syntax
      run: find . -not -path "./vendor/*" -name "*.php" -print0 | xargs -0 -n1 -P8 php -l
    - name: install phpcs
      run: curl -OL https://squizlabs.github.io/PHP_CodeSniffer/phpcs.phar
    - name: phpcs psr12
      run: php phpcs.phar --standard=PSR12 --extensions=php --ignore=vendor .
#    - name: phplint, phpmd ...  
  tests:
    needs: stand_alone_checks
    strategy:
      matrix:
        tag: [v2_6.1_php7.1, v2_6.1_php7.2, v2_6.2-rc_php7.2, v2_6.2-rc_php7.1, v2_dev-master_php7.2]         
    runs-on: ubuntu-latest
    container:
      image: oxidprojects/oxid-test:${{matrix.tag}}
      options: -v /var/run/mysqld/mysqld.sock:/var/run/mysqld/mysqld.sock
    env:
      MODULE_NAME: moduleinternals
      DB_HOST: "localhost;unix_socket=/var/run/mysqld/mysqld.sock"
    steps:
    - uses: actions/checkout@v1
    - name: setup oxid
      run: bash /var/www/oxid/setup.sh 
    - name: phpstan
      continue-on-error: true
      run: |
        MD=$(pwd)
        cd /var/www/oxid/
        vendor/bin/phpstan analys --configuration phpstan.neon $MD
    - name: psalm
      continue-on-error: true
      run: |
        MD=$(pwd)
        cd /var/www/oxid
        cat autoload.oxid.php
        curl -OL https://circleci.com/api/v1.1/project/github/weirdan/psalm/232/artifacts/0/home/docker/project/build/psalm.phar
        psalm.phar --show-info=false $MD
    - name: run tests
      run: |
        cd /var/www/oxid/
        vendor/bin/runtests
        ls -al source/log

  
