name: oxid module tests

on: [push]

jobs:
  stand_alone_checks:
    runs-on: ubuntu-latest
    steps:
    - uses: actions/checkout@v1   
    - name: Validate composer.json
      run: composer validate   
    - name: validate php syntax
      run: find . -not -path "./vendor/*" -name "*.php" -print0 | xargs -0 -n1 -P8 php -l
    - name: install phpcs
      run: curl -OL https://squizlabs.github.io/PHP_CodeSniffer/phpcs.phar
    - name: phpcs psr12
      run: php phpcs.phar --standard=PSR12 --extensions=php --ignore=vendor .
#    - name: phplint, phpmd ...  
  tests:
    needs: stand_alone_checks
    strategy:
      matrix:
        php: [7.1, 7.2]
        oxid: [6.1, 6.2-rc, dev-master]
        exclude:
          - oxid: dev-master
            php: 7.1
    runs-on: ubuntu-latest
    container:
      image: oxidprojects/oxid-test:v3_${{matrix.oxid}}_php${{matrix.php}}
      options: -v /var/run/mysqld/mysqld.sock:/var/run/mysqld/mysqld.sock
    env:
      MODULE_NAME: moduleinternals
      DB_HOST: "127.0.0.1"
    steps:
    - uses: actions/checkout@v1
    - name: route db from socket to port
      run: bash /var/www/oxideshop/scripts/routeDbfromSocketToPort.sh        
    - name: setup oxid
      run: bash /var/www/oxideshop/scripts/setup.sh
    - name: try to install phpstan-phpunit
      run: composer require --work-dir=/var/www/oxideshop --dev phpstan/phpstan-phpunit
      continue-on-error: true
    - name: phpstan
      continue-on-error: true
      run: |
        MD=$(pwd)
        cd /var/www/oxideshop/
        vendor/bin/phpstan analys --configuration phpstan.neon $MD
    - name: phpstan loose
      continue-on-error: true
      run: |
        MD=$(pwd)
        cd /var/www/oxideshop/
        composer remove phpstan/phpstan-strict-rules --dev
        composer remove phpstan/phpstan-deprecation-rules --dev
        vendor/bin/phpstan analys  --level 2 --configuration phpstan.neon $MD
    - name: psalm
      run: |
        MD=$(pwd)
        cd /var/www/oxideshop/
        cat autoload.oxid.php
        curl -OL https://circleci.com/api/v1.1/project/github/weirdan/psalm/232/artifacts/0/home/docker/project/build/psalm.phar
        php psalm.phar --stats --debug-by-line --show-info=true $MD
    - name: run tests
      run: |
        cd /var/www/oxideshop/
        vendor/bin/runtests
        ls -al source/log
    - name: run oxid console list
      run: |
        cd /var/www/oxideshop
        vendor/bin/oxid
    - name: run in oxid console for all shops
      run: |
        cd /var/www/oxideshop
        vendor/bin/oxid -vvv fix:states -a
    - name: oxrun
      continue-on-error: true
      run: |
        cd /var/www/oxideshop
        php oxrun.phar list
    - name: oxrun
      continue-on-error: ${{matrix.oxid != 6.1}}
      run: |
        cd /var/www/oxideshop
        php oxrun.phar fix:states -a
    - name: oxid console
      if: matrix.oxid != 6.1
      run: |
        cd /var/www/oxideshop
        vendor/bin/oe-console list
  
  
